on: push
name: Test
jobs:
  tox:
    name: Tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'
    - run: pip install tox
    - run: tox